.robot_limbs_and_ears{
	fill:#503643;
}

.robot_joints_and_belly{
	fill:#503643;
}

.error_code{
	fill:#bdc3c7;
	font-size:322px;
}

.robot_body{
	fill:#2980b9;
}

.robot_eye_whites{
	fill:#ecf0f1;
}

.robot_hands_feet{
	fill:#3498db;
}

.robot_antenna{
	fill:#2c3e50;
}

.robot_antenna_highlight{
	fill:#34495e;
}

.robot_eyes{
	fill:#34495e;
}

.robot_eyes_highlight{
	fill:#2c3e50;
}